[submodule "com.io7m.jspearmint.tests/src/test/resources/com/io7m/jspearmint/tests/spirv_headers"]
	path = com.io7m.jspearmint.tests/src/test/resources/com/io7m/jspearmint/tests/spirv_headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule ".jenkins"]
	path = .jenkins
	url = https://www.github.com/io7m/jenkinsfiles
